    <div class="container">
        <div class="row1">
          <div class="col-sm-12 text-center" id="burgerhead"></div>
            <h1>Burger Wish List!</h1>
          </div>
        </div>
        <div class="row">
            <div class="col-sm" id="uneaten">
                <h3> Burgers you can eat!</h3>
                <ul>
                {{#each burgers}}
                {{#unless devoured}}
                    <li>
                        {{burger_name}}
                        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
                        <input type="hidden" name="devoured" value="true">
                        <button type="submit" data-burgerid="{{this.id}}" class="btn btn-default" id="eat">Eat it!</button>
                        </form>
                    </li>
                     {{/unless}} {{/each}}
                </ul>
            </div>
            
            <div class="col-sm" class="task" id="eaten">
                <h3>Check! I ate that Burger!</h3>
                <ul>
                {{#each burgers}} {{#if devoured}} 
                <li>
                    {{burger_name}}
                </li>
                {{/if}} {{/each}}
                </ul>
            </div>
        </div>
    </div>
        <div class="row2">  
            <div class="col-sm-12" id="burgercreation">
                <form class="create-update-form" action="burgers/create" method="POST">

			<div class="form-group">
				<textarea class="form-control input-lg" type="text" name="b_name" rows="1" id="burgerinput" placeholder="Big Mac"></textarea>
			</div>

			<button class="btn btn-default" type="submit" id="createburg">Create Burger!</button>
            </form>
                <p>Enter your dream burger and click submit! </p>
            </div>
            <div class="burgerpic">
                    <img src="assets/img/burger1.jpeg"/>
            </div>
        </div>
